In [8]:
%matplotlib inline
from pandas_datareader import data as web
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt

stocks = {'tech':['GOOGL', 'MSFT', 'LNKD', 'YHOO', 'FB','HPQ','AMZN'],
          'auto':['TM','F','GM','HMC','NSANY','HYMTF'],
          'housing':['HD','WMT','LOW']
          }

start_date = datetime(2016,1,1)
end_date = datetime(2016, 4, 21)

def get_px(stock, start, end):
    return web.get_data_yahoo(stock, start, end)['Adj Close']

df = pd.DataFrame({n: get_px(n, start_date, end_date) for n in stocks['tech']})

In [9]:
df.head()

,AMZN,FB,GOOGL,HPQ,LNKD,MSFT,YHOO
Date,,,,,,,
2016-01-04,636.989990,102.220001,759.440002,11.471342,225.550003,54.409346,31.400000
2016-01-05,633.789978,102.730003,761.530029,11.580122,229.000000,54.657563,32.200001
2016-01-06,632.650024,102.970001,759.330017,11.164780,226.080002,53.664692,32.160000
2016-01-07,607.940002,97.919998,741.000000,10.650548,217.000000,51.798093,30.160000
2016-01-08,607.049988,97.330002,730.909973,10.462655,215.899994,51.956956,30.629999