In [1]:
from bokeh.sampledata.autompg import autompg as df  # sample automotive data

In [2]:
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [5]:
pivoted = df.pivot(columns='cyl', values='mpg')
pivoted

cyl   3     4   5     6     8
0   NaN   NaN NaN   NaN  18.0
1   NaN   NaN NaN   NaN  15.0
2   NaN   NaN NaN   NaN  18.0
3   NaN   NaN NaN   NaN  16.0
4   NaN   NaN NaN   NaN  17.0
5   NaN   NaN NaN   NaN  15.0
6   NaN   NaN NaN   NaN  14.0
7   NaN   NaN NaN   NaN  14.0
8   NaN   NaN NaN   NaN  14.0
9   NaN   NaN NaN   NaN  15.0
10  NaN   NaN NaN   NaN  15.0
11  NaN   NaN NaN   NaN  14.0
12  NaN   NaN NaN   NaN  15.0
13  NaN   NaN NaN   NaN  14.0
14  NaN  24.0 NaN   NaN   NaN
15  NaN   NaN NaN  22.0   NaN
16  NaN   NaN NaN  18.0   NaN
17  NaN   NaN NaN  21.0   NaN
18  NaN  27.0 NaN   NaN   NaN
19  NaN  26.0 NaN   NaN   NaN
20  NaN  25.0 NaN   NaN   NaN
21  NaN  24.0 NaN   NaN   NaN
22  NaN  25.0 NaN   NaN   NaN
23  NaN  26.0 NaN   NaN   NaN
24  NaN   NaN NaN  21.0   NaN
25  NaN   NaN NaN   NaN  10.0
26  NaN   NaN NaN   NaN  10.0
27  NaN   NaN NaN   NaN  11.0
28  NaN   NaN NaN   NaN   9.0
29  NaN  27.0 NaN   NaN   NaN
..   ..   ...  ..   ...   ...
362 NaN  28.0 NaN   NaN   NaN
363 NaN  27.0 NaN   NaN   NaN
364 NaN  34.0 NaN   NaN   NaN
365 NaN  31.0 NaN   NaN   NaN
366 NaN  29.0 NaN   NaN   NaN
367 NaN  27.0 NaN   NaN   NaN
368 NaN  24.0 NaN   NaN   NaN
369 NaN  36.0 NaN   NaN   NaN
370 NaN  37.0 NaN   NaN   NaN
371 NaN  31.0 NaN   NaN   NaN
372 NaN  38.0 NaN   NaN   NaN
373 NaN  36.0 NaN   NaN   NaN
374 NaN  36.0 NaN   NaN   NaN
375 NaN  36.0 NaN   NaN   NaN
376 NaN  34.0 NaN   NaN   NaN
377 NaN  38.0 NaN   NaN   NaN
378 NaN  32.0 NaN   NaN   NaN
379 NaN  38.0 NaN   NaN   NaN
380 NaN   NaN NaN  25.0   NaN
381 NaN   NaN NaN  38.0   NaN
382 NaN  26.0 NaN   NaN   NaN
383 NaN   NaN NaN  22.0   NaN
384 NaN  32.0 NaN   NaN   NaN
385 NaN  36.0 NaN   NaN   NaN
386 NaN  27.0 NaN   NaN   NaN
387 NaN  27.0 NaN   NaN   NaN
388 NaN  44.0 NaN   NaN   NaN
389 NaN  32.0 NaN   NaN   NaN
390 NaN  28.0 NaN   NaN   NaN
391 NaN  31.0 NaN   NaN   NaN

[392 rows x 5 columns]