In [9]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import urllib.request as request
import re
pd.set_option("display.max_rows",1000)
pd.set_option("display.max_columns",20)

In [20]:
base_url = 'http://www.kijiji.ca'
toronto_url = 'http://www.kijiji.ca/h-city-of-toronto/1700273'
html_kijiji = request.urlopen(toronto_url)

soup_kijiji = BeautifulSoup(html_kijiji, 'lxml')

In [29]:
div = soup_kijiji.find_all('div', id='BrowseCategoriesList', class_='drop-down')

In [30]:
div

[<div class="drop-down" id="BrowseCategoriesList">
 <ul>
 <li><a class="category-selected" data-id="10" href="/b-buy-sell/city-of-toronto/c10l1700273">buy and sell</a></li>
 <li><a class="category-selected" data-id="72" href="/b-services/city-of-toronto/c72l1700273">services</a></li>
 <li><a class="category-selected" data-id="27" href="/b-cars-vehicles/city-of-toronto/c27l1700273">cars &amp; vehicles</a></li>
 <li><a class="category-selected" data-id="112" href="/b-pets/city-of-toronto/c112l1700273">pets</a></li>
 <li><a class="category-selected" data-id="800" href="/b-vacation-rentals/c800l1700273">vacation rentals</a></li>
 <li><a class="category-selected" data-id="1" href="/b-community/city-of-toronto/c1l1700273">community</a></li>
 <li><a class="category-selected" data-id="34" href="/b-real-estate/city-of-toronto/c34l1700273">real estate</a></li>
 <li><a class="category-selected" data-id="45" href="/b-jobs/city-of-toronto/c45l1700273">jobs</a></li>
 <li><a class="category-selected" data-id="218" href="/b-resumes/city-of-toronto/c218l1700273">resumes</a></li>
 <li><a class="category-selected" data-id="63" href="/b-personals/city-of-toronto/c63l1700273">personals</a></li>
 <li><a class="" data-id="1000000" href="/b-city-of-toronto/l1700273?ad=wanted">Want Ads</a></li>
 <li><a class="" data-id="1000001" href="/b-city-of-toronto/l1700273?ad=offering&amp;price-type=free">Free Stuff</a></li>
 <li><a class="" data-id="1000002" href="/b-city-of-toronto/l1700273?price-type=swap-trade">Swap / Trades</a></li>
 </ul>
 </div>]

### Let's create a Python dictionary that will map their categories to their repective relative url

In [53]:
categories = {}
for item in div:
    for row in item.find_all('li'):
        categories[row.a.get_text()] = row.a['href']

In [54]:
categories

{'Free Stuff': '/b-city-of-toronto/l1700273?ad=offering&price-type=free',
 'Swap / Trades': '/b-city-of-toronto/l1700273?price-type=swap-trade',
 'Want Ads': '/b-city-of-toronto/l1700273?ad=wanted',
 'buy and sell': '/b-buy-sell/city-of-toronto/c10l1700273',
 'cars & vehicles': '/b-cars-vehicles/city-of-toronto/c27l1700273',
 'community': '/b-community/city-of-toronto/c1l1700273',
 'jobs': '/b-jobs/city-of-toronto/c45l1700273',
 'personals': '/b-personals/city-of-toronto/c63l1700273',
 'pets': '/b-pets/city-of-toronto/c112l1700273',
 'real estate': '/b-real-estate/city-of-toronto/c34l1700273',
 'resumes': '/b-resumes/city-of-toronto/c218l1700273',
 'services': '/b-services/city-of-toronto/c72l1700273',
 'vacation rentals': '/b-vacation-rentals/c800l1700273'}

In [57]:
listings_list = pd.read_html(base_url+categories['cars & vehicles'])

In [58]:
listings_list

[    0   1   2   3   4   5   6   7   8   9
 0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN,
     0   1                                                  2          3   4
 0 NaN NaN  2004 FORD FOCUS WAGON, PRISTINE CONDITION, NO ...  $3,895.00 NaN,
     0   1                                                  2           3   4
 0 NaN NaN  2009 Ford Explorer Sport Trac ADRENALIN 4X4 LE...  $18,888.00 NaN,
     0   1                                                  2           3   4
 0 NaN NaN  2010 Chrysler 300 TOURING | P/DRIVER SEAT | F/...  $12,987.00 NaN,
     0   1                                                  2        3   4
 0 NaN NaN  Mint 2015 Infiniti QX70S 3.7 Sport Navi for le...  $877.98 NaN,
     0   1                                                  2          3   4
 0 NaN NaN  2004 Toyota Echo â€¢ 139,000 KM â€¢| GREAT VAL...  $4,700.00 NaN,
     0   1                                                  2          3  \
 0 NaN NaN  2000 acura TL  hi im selling acura tL in good ...  $1,500.00

                  4
 0  < 4 minutes ago  ,
     0   1                                                  2       3  \
 0 NaN NaN  2006 kia sorento head lights and tail light ,m...  $65.00

                  4
 0  < 4 minutes ago  ,
     0   1                                                  2        3  \
 0 NaN NaN  Winter Tires Michelin 225/65R 16 plus 4 rims  ...  $600.00

                  4
 0  < 5 minutes ago  ,
     0   1                                                  2        3  \
 0 NaN NaN  L  MAZDA CX5 FACTORY OEM 18 INCH WHEELS IN EXC...  $750.00

                  4
 0  < 5 minutes ago  ,
     0   1                                                  2           3  \
 0 NaN NaN  2012 Toyota FJ Cruiser ONE OWNER OFF LEASE  Of...  $30,944.00

                  4
 0  < 5 minutes ago  ,
     0   1                                                  2               3  \
 0 NaN NaN  2008 Mitsubishi Outlander XLS  Cooksville Hyun...  Please Contact

                  4
 0  < 5 minutes ago  ,
     0   1                                                  2          3  \
 0 NaN NaN  2004 Chevrolet Express Minivan, Van  2004 chev...  $6,800.00

                  4
 0  < 6 minutes ago  ,
     0   1                                                  2               3  \
 0 NaN NaN  E60 bmw CAM and CRANK SENSORS for sale E60 BMW...  Please Contact

                  4
 0  < 7 minutes ago  ,
     0   1                                                  2        3  \
 0 NaN NaN  FORD FOCUS 2013 MICHELIN WINTER TIRES 205/60/1...  $650.00

                  4
 0  < 9 minutes ago  ,
     0   1                                                  2          3  \
 0 NaN NaN  2000 Dodge Durango SLT PLUS  2000 Dodge Durang...  $3,800.00

                  4
 0  < 9 minutes ago  ,
     0   1                                                  2           3  \
 0 NaN NaN  Clean and Spacious Toyota Venza v6 low kms Cle...  $16,000.00

                   4
 0  < 10 minutes ago  ,
     0   1                                                  2        3  \
 0 NaN NaN  4 x 100 mini cooper rims $200  Mini cooper rim...  $200.00

                   4
 0  < 11 minutes ago  ,
     0   1                                                  2           3  \
 0 NaN NaN  2012 Ford F-250 Extended cab 2wd gas long box ...  $29,800.00

                   4
 0  < 11 minutes ago  ,
     0   1                                                  2          3  \
 0 NaN NaN  2006 Ford E-250 Cargo Van  2006 Ford E-250 Car...  $7,500.00

                   4
 0  < 11 minutes ago  ,
     0   1                                                  2           3  \
 0 NaN NaN  2009 Land Rover Range Rover Sport HSE SPORT NA...  $26,988.00

                   4
 0  < 11 minutes ago  ,
     0   1                                                  2       3  \
 0 NaN NaN  225 50 17 hankook tires $50  Set of 4 hankook ...  $50.00

                   4
 0  < 12 minutes ago  ,
     0   1                                                  2        3  \
 0 NaN NaN  HONDA CIVIC 2012 FACTORY RIMS WITH 205/55/16 W...  $450.00

                   4
 0  < 12 minutes ago  ,
     0   1                                                  2       3  \
 0 NaN NaN  Car seat attachable seat warmer (seat cover)! ...  $35.00

                   4
 0  < 12 minutes ago  ,
     0   1                                                  2          3  \
 0 NaN NaN  2008 Mitsubishi Outlander ES SUV, Crossover  O...  $5,299.00

                   4
 0  < 13 minutes ago  ,
     0   1                                                  2          3  \
 0 NaN NaN  2001 z 120  2001 z 120, good condition never a...  $1,600.00

                   4
 0  < 13 minutes ago  ]

In [62]:
listings_list[3]

    0   1                                                  2           3   4
0 NaN NaN  2010 Chrysler 300 TOURING | P/DRIVER SEAT | F/...  $12,987.00 NaN