In [12]:
%load_ext rpy2.ipython

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/frankbi/price-of-weed/master/data/weedprices23072015.csv')

In [11]:
df = df[['State', 'HighQ']]
df['State'] = df['State'].str.lower()
df

                   State   HighQ
0                alabama  338.01
1                 alaska  293.46
2                arizona  296.71
3               arkansas  334.53
4             california  242.04
5               colorado  241.35
6            connecticut  332.13
7               delaware  354.29
8   district of columbia  345.98
9                florida  297.11
10               georgia  317.18
11                hawaii  301.27
12                 idaho  273.38
13              illinois  348.94
14               indiana  328.90
15                  iowa  362.08
16                kansas  346.08
17              kentucky  341.36
18             louisiana  358.42
19                 maine  301.57
20               montana  264.24
21              nebraska  328.93
22                nevada  266.26
23         new hampshire  349.28
24            new jersey  342.24
25            new mexico  282.49
26              new york  338.41
27        north carolina  341.89
28          north dakota  383.87
29                  ohio  331.05
30              oklahoma  348.73
31                oregon  202.31
32              maryland  359.52
33         massachusetts  339.67
34              michigan  282.25
35             minnesota  339.88
36           mississippi  331.03
37              missouri  347.78
38          pennsylvania  357.86
39          rhode island  313.51
40        south carolina  334.00
41          south dakota  358.34
42             tennessee  345.26
43                 texas  326.08
44                  utah  285.27
45               vermont  361.67
46              virginia  362.21
47            washington  231.73
48         west virginia  357.43
49             wisconsin  345.79
50               wyoming  313.72

In [14]:
%%R
library(choroplethr)
?df_pop_state
data(df_pop_state)
df_pop_state

                 region    value
1               alabama  4777326
2                alaska   711139
3               arizona  6410979
4              arkansas  2916372
5            california 37325068
6              colorado  5042853
7           connecticut  3572213
8              delaware   900131
9  district of columbia   605759
10              florida 18885152
11              georgia  9714569
12               hawaii  1362730
13                idaho  1567803
14             illinois 12823860
15              indiana  6485530
16                 iowa  3047646
17               kansas  2851183
18             kentucky  4340167
19            louisiana  4529605
20                maine  1329084
21             maryland  5785496
22        massachusetts  6560595
23             michigan  9897264
24            minnesota  5313081
25          mississippi  2967620
26             missouri  5982413
27              montana   990785
28             nebraska  1827306
29               nevada  2704204
30        new hampshire  1317474
31           new jersey  8793888
32           new mexico  2055287
33             new york 19398125
34       north carolina  9544249
35         north dakota   676253
36                 ohio 11533561
37             oklahoma  3749005
38               oregon  3836628
39         pennsylvania 12699589
40         rhode island  1052471
41       south carolina  4630351
42         south dakota   815871
43            tennessee  6353226
44                texas 25208897
45                 utah  2766233
46              vermont   625498
47             virginia  8014955
48           washington  6738714
49        west virginia  1850481
50            wisconsin  5687219
51              wyoming   562803