In [6]:
import sys
sys.version_info < (3,)

False

In [9]:
import remi.gui as gui
from remi import start, App

In [31]:
gui.Tab

AttributeError: type object 'TextInput' has no attribute 'attributes'

In [34]:
import pandas as pd
from db import DB

db = DB(filename="/home/pybokeh/Dropbox/data_sets/nba", dbtype="sqlite")

sql = """
        select *

        from player_game_stats

        where
        team_name like '{{ name }}';"""

token = 'Cav'

parameter = '%' + token + '%'

params = [
          {"name": parameter}
         ]

row_data = db.query(sql, data=params).values

Indexing schema. This will take a second...finished!

In [43]:
row_data[0]

array([510, 'Shawn Marion, SF', 'Cleveland Cavaliers', 30, 22, 23.1, 5.6,
       1.0, 2.5, 3.5, 1.1, 0.63, 0.73, 0.7, 1.1, 1.5, 10.6], dtype=object)