In [45]:
%reload_ext rpy2.ipython

In [32]:
import pandas.rpy.common as com

In [44]:
%%R -w 1000 -h 600 -u px -o df_pop_zip

data(df_pop_state)
head(df_pop_state)

      region    value
1    alabama  4777326
2     alaska   711139
3    arizona  6410979
4   arkansas  2916372
5 california 37325068
6   colorado  5042853

In [38]:
r_df = com.load_data('df_pop_zip')

In [39]:
type(r_df)

pandas.core.frame.DataFrame

In [41]:
r_df.head()

  region  value
1  00601  18544
2  00602  41640
3  00603  54540
4  00606   6593
5  00610  29141